
/* 
    Created on : Jul 29, 2015, 2:21:02 PM
    Author     : bhaberbe
*/

.digisigHeader{
    width: 100%;
    height: auto;
    position: relative;
}
.digisigImg{
    max-width:100%;
    height:auto;
}
/* navigation bar */
.navigation{
    /*border-bottom: 1px solid #000;*/
    padding: 10px 0px 10px 10px;
} 

.navTitle{
    color: #F00;
    font-size: 20px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #FFF;
    position: relative;
}
.resultsTitle{
    color: #079;
    font-size: 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #FFF;
    position: relative;
    padding-left: 10px;
}
/*.resultTemplate{
    margin: 10px 0px;
}*/
.metaTable_offset{
    display: block;
    left:5%;
    position: relative;
}
/* Header navigation buttons */
/* The header buttons need to look like links */
.navigate{
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    color: white;
    margin: 0px 20px;
    font-weight: bold;
}
.navigate:hover{
    color: rgba(0,72,94,.9);
}
.searchPiece{
    display: inline-block;
}
/* Searching Form */
.searchArea{
    border: 1px solid #000;
    background-color: #00485E;
    padding: 10px 0px 10px 0px;
    margin-top: 28px;
}
/* Search tool areas  */
.searchArea p, .searchArea input, .searchArea select{
    margin-left:10px;
}

.searchBtn_1{
    background-color: white;
    border: medium double;
    margin-left: 40px; 
    padding: 6px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
.searchBtn_2{
    display: none;
}
/* Search Results Area */
.searchResults{
}
/* Search Results links */
.searchResults a{
    margin: 0px 10px;
}
/* Titles separating search results */
.separator{
    font-weight: bold;
    text-decoration: underline;
    font-size: 17px;
}
.separator_2{
    font-weight: bold;
    font-size: 17px;
    margin-top:10px;
    /*margin-left: 15px;*/
}
.searchTitle{
    color: #FFF;
    font-size: 20px;
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 15px;
}
form[name="navigate"]{
    position: relative;
    top: -2px;
}
.pageWrap{
    margin: 0px 50px !important;
    color: #007799;
    font-family: sans-serif !important;
}
/* This is the image logo and the navigation */
.theheader{
    background-color: #079;
    color: white;
    top: 14px !important;
    margin: 0px 50px;
}
.header{
    background-color: #079;
    color: white;
    font-family: serif !important;
}

/* This is the footer navigation */
.footer{
    background-color: #079;
    margin-top: 10px;
    height: 36px;
    line-height: 39px;
    margin: 10px 50px;
    text-align: center;
}

/* Footer buttons need to look like links */
.footNav{
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;    
    color: white;
    margin: 0px 20px;
    font-weight: bold;
}
.footNav:hover{
    color: rgba(0,72,94,.9);
}
/* Login as part of the nav.  Needs to look like a link. */
.login{
    position: absolute;
    right: 10px;
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;    
    color: white;
    font-weight: bold;
}
.seal, .sealMetadata{
    border-bottom: 1px solid rgb(0, 119, 153);
}
a:hover{
	cursor: pointer
}
.sealEntry{
    background-color: rgba(0, 119, 153, 0.3);
}
/* Table CSS */
thead{
    background-color: #007799;
    color: white;
    font-weight: bold;
}
th{
    text-align: center;
/*    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;*/
    border: 1px solid black;
    padding: 5px !important;
    max-width: 720px;
    padding: 4px 8px !important;
}
td{
    border:1px solid rgba(0,119,153, .3);
    max-width: 720px;
    padding: 4px 8px !important;
}

table{
    margin: 3px 0px;
    border-collapse: collapse !important;
}

table.maxmin th, table.maxmin td{
    max-width: 720px;
}
.sealThumbnail{
    display: inline-block;
    height:80px;
    width: 80px;
    position: relative;
}
.viewImgBtn{
    position: relative;
    border: none;
    background: none;
    color: white;
    background-color: #00485E;
}
.digiBtn{
    border: none;
    background: none;
    color: white;
    background-color: #00485E;
    position: relative;
    display: inline-block;
    margin-left: 8px;
    padding: 4px;
}
.metaTable{
    display: block;
}

#digisigID{
    margin-right:15px;
    color:black;
}
#permalink, #shape, #height, #width, #title{
    color: black;
}
#height, #shape{
    margin-right: 15px;
}
.sealMetadata{
    padding: 5px 0px;
}
.sealExample{
    display: inline-block;
}
select{
    background: #00485E no-repeat 90% center;
    font-size: 16px;
    line-height: 1;
    border: 1px solid white;
    border-radius: 0;
    color: white !important;
/*    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    text-indent: 1px;
    text-overflow: '';
}

.pageShade{
    background-color: rgba(0,0,0,.3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left : 0;
    text-align: center;
}

.fullImgWrap{
    position: relative;
    height: 100%;
    max-width: 85%;
    width: auto;
    background-color: black;
    margin: 0 auto;
}

.fullImgWrap img{
    position: relative;
    max-height: 98%;
    max-width: 100%;
    top: 2%;
    top: 100px;
}
.closeBtn{
    border: 1px solid white;
    padding: 4px;
    color: white;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}

option[value="holder"]{
    color: white !important;
    font-weight: bold !important;
}

.addedCardArea{
    position: fixed;
    /*overflow-y: auto;*/
    display: none;
    padding: 25px;
    top: 5%;
    height: 505px;
    left: 0px;
    margin: 0% 5%;
    width: 90%;
    z-index: 5;
    background-color: #00485E;
    color: white;
    box-shadow: 0px 0px 19px 4px black;
}

.card{
    border: 2px solid #079;
    padding: 15px;
    margin: 6px 7px 6px 0px;
    width: 400px;
    overflow-y: auto;
    display: inline-block;
    background-color: #FFF;
    height: 95%;
}
.theCards{
    overflow-x: auto;
    display: block;
    white-space: nowrap;
    height: 93%;
}
.theCards_body{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-top: 8px;
}
.theCards_body .card{
    height:auto;
}
.addedCardHeader{
    font-weight: bold;
    font-size: 19px;
    display: block;
    position: relative;
    border-bottom: 2px solid white;
}

.card_single{
    border: 2px solid #079;
    padding: 15px;
    margin: 6px 0px;
    max-width: 800px;
    min-width: 400px;
    display: inline-table;
    height: auto;
    margin-right: 7px;
    background-color: white;
    
}

.hdr1{
    color: #00485E;
    font-size:20px;
    text-transform: uppercase;
}
.hdr2{
    color: #079;
    /*font-size:20px;*/
    text-transform: uppercase;
}
.cardInfoVal{
    color: black;
    white-space: normal;
}
.cardInfoKey{
    color: black;
    font-weight: bold;
    margin-right:5px;
}
.cardInfo{
    margin: 2px 0px;
}
.indent{
    padding-left: 15px;
}
.indent2{
    padding-left: 30px;
}

table.indent2 td{
    background-color: rgba(0,119,153, .3);
}

.theCards_body.indent2{
    background-color: rgba(0,119,153, .3);
}
.resultCount{
    color: red;
}
.resultTerm{
    color: darkred;
    font-style: italic;    
}
.viewCardWidget{
    position: fixed;
    top: 35%;
    right: 0px;
    border: 1px solid #079;
    text-align: center;
    padding: 12px;
    right: -190px;
    background-color: white;
}
.toggleArrow{
    border: 1px solid #079;
    padding: 5px;
    position: absolute;
    left: -23px;
    top: 27px;
    font-weight: bold;
    font-size: 19px;
    cursor: default;
    background-color:white;
    
}
/*.toggleArrow:hover{
    background-color: rgba(0, 119, 153, 0.3);
}*/
.cardCountText{
    font-weight: bold;
    font-size: 19px;
    color: #00485E;
    max-width: 169px;
}